<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>HAND-PICKED COFFEE DELIVERY CLUB.</h1>
            <a href="#" class="btn btn-lg btn-success">Become a member</a>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container-fluid">
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8" style="text-align:justify;">
                    <p>WE ARE THE <span style="text-decoration:underline;">FIRST SPECIALTY COFFEE DELIVERY STARTUP IN PARIS</span>. EVERY WEEK WE ROAST, SENSE, PACK AND DELIVER THE MOST AMAZING COFFEES WE CAN GET OUR HANDS ON. FROM CARRYING THE <span style="font-style:italic;">QUINTALES</span> IN THE <span style="font-style:italic;">BENEFICIO</span> TO SMELLING THE <span style="font-style:italic;">CARAMELIZATION</span> OF THE BEAN TO PREPARING A <span style="font-style:italic;">CAFE LATTE</span>. WE OFFER A <span style="text-decoration:underline;">TAILOR-MADE TREE TO CUP</span> EXCITING COFFEE EXPERIENCE. WE ONLY BUY AND SELL THE VERY BEST.<br><br> <strong>JOIN THE CLUB</strong> AND CHANGE THE WAY YOU ENJOY COFFEE.</p>
                    <a name="how_it_works"></a> 
                </div>
            </div>
        </div>
    </section>
    <a name="how_it_works"></a> 
    <section class="services">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center pricing_title" style="margin:3em 0 1em 0;">
                    <h2 style="font-size:3em;font-weight:bold;">How it works</h2>
                    <p style="font-size:1.3em;font-weight:300;">Enjoying amazing coffee has never been so easy.</p>
                </div>
            </div>
            <hr>
            <div class="row" style="padding:1em 0 4em 0;">
                <div class="col-lg-4" style="padding-right:4em;">
                    <img src="../../assets/mail_logo.png" class="descriptor_logo" style="width:120px;padding-top:10em;">
                    <h2 class="descriptor_headline">Sample our Coffees</h2>
                    <p class="descriptor_text">We want you to get to know us first. We want you to try small batches of our latest, finest coffees.</p>
                </div>
                <div class="col-lg-4" style="padding-left:2em;padding-right:4em;">
                    <img src="../../assets/roaster_logo.png" class="descriptor_logo" style="padding-top:1em;">
                    <h2 class="descriptor_headline">Choose your Favorites</h2>
                    <p class="descriptor_text">Once you make your choice and ordered online we will roast and handpick the ideal experience.</p>
                </div>
                <div class="col-lg-4" style="padding-left:2em;padding-right:4em;">
                    <img src="../../assets/bike_logo.png" class="descriptor_logo" style="width:140px;padding-top:8.7em;">
                    <h2 class="descriptor_headline">Get them at Home</h2>
                    <p class="descriptor_text">Delivery is our forté. We want you to live coffee differently. By bike or plane, we will be at your doorstep.</p>
                </div>
    </section>

    <section class"call_to_action" style="min-height:300px;display: block;width: 100%;text-align: center;background: image-url('/assets/main_logo2.jpg') no-repeat center center scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;background-position:0% 60%;color:white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" style="padding-top:8em;">
                    <a href="#info_link"><button type="button" class="btn btn-lg btn-success">JOIN NOW</button></a>
                    <a name="coffees"></a>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->

    </section>
    
    <section class="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center pricing_title" style="margin:3em 0 1em 0;">
                    <h2 style="font-size:3em;font-weight:bold;">Next delivery in 8 days. Don't miss it !</h2>
                    <p style="font-size:1.3em;font-weight:300;">Amazing coffee delivered to your doorstep every month.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 text-center pricing_block" style="margin:2em 0.5em 4em -1em;">
                    <h2><span style="font-size:2em;"><i class="fa fa-eur"></i> 20</span> / month</h2>
                    <p style="margin-top:2em;">Fresh coffee every 2 weeks<p>
                    <p>No commitment, cancel anytime</p>
                    <p>Money-back guarantee</p>
                    <a href="#"><button type="button" class="btn btn-lg btn-success" style="margin-top:2em;">BUY NOW</button></a>
                </div>
                <div class="col-lg-4 text-center pricing_block" style="margin:2em 0;margin-right:0.5em;">
                    <h2><span style="font-size:2em;"><i class="fa fa-eur"></i> 32</span> / month</h2>
                    <p style="margin-top:2em;">Fresh coffee every 7 days<p>
                    <p>No commitment, cancel anytime</p>
                    <p>Money-back guarantee</p>
                    <a href="#"><button type="button" class="btn btn-lg btn-success" style="margin-top:2em;">BUY NOW</button></a>
                </div>
                <div class="col-lg-4 text-center pricing_block" style="margin:2em 0;">
                    <h2><span style="font-size:2em;"><i class="fa fa-eur"></i> 50</span> / month</h2>
                    <p style="margin-top:2em;">Fresh coffee + Aeropress + Grinder<p>
                    <p>No commitment, cancel anytime</p>
                    <p>Money-back guarantee</p>
                    <a name="faq"></a>
                    <a href="#"><button type="button" class="btn btn-lg btn-success" style="margin-top:2em;">BUY NOW</button></a>
                </div>
            </div>
        </div>
        
    </section>
    <section class="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pricing_title" style="margin:3em 0 1em 0;">
                    <h2 style="font-size:3em;font-weight:bold;text-align:center;">Frequently Asked Questions</h2>
                    <p style="font-size:1.3em;font-weight:300;text-align:center;">Don't worry. It's OK to be a little curious.</p>
                    <hr>
                    <p style="font-size:1.3em;font-weight:bold;">Why a subscription?</p>
                     <p style="font-size:1.3em;font-weight:300;text-align:justify;padding-bottom: 1em;">Getting fresh roasted specialty coffee at home has never been so easy. Working on a subscription-basis allows us to roast your favorite coffee on-demand thus having zero waste and shelf-time. That results in increased freshness, lower price and we give a boost to environmental sustainability.</p>
                     <p style="font-size:1.3em;font-weight:bold;">Where should I start?</p>
                     <p style="font-size:1.3em;font-weight:300;text-align:justify;padding-bottom: 1em;">All you have to do is select how often you want to receive one of our coffee boxes and click "Buy Coffee". You can also become a member of our club and receive coffee gifts, t-shirts and the occasional piece of coffee knowledge. We will send you always your favorite coffee, on your schedule and freshly roasted. Simple.</p>
                     <p style="font-size:1.3em;font-weight:bold;">Can I buy coffee if I am not in Paris?</p>
                     <p style="font-size:1.3em;font-weight:300;text-align:justify;padding-bottom: 1em;">Of course. We have a special subscription for international subscribers. Our package/envelopes fit in 90% of all mailboxes in Europe. So join quickly and start receiving coffee from across the world.</p>
                     <p style="font-size:1.3em;font-weight:bold;">What are the accepted payment methods?</p>
                     <p style="font-size:1.3em;font-weight:300;text-align:justify;padding-bottom: 3em;">We accept all major credit cards such as Visa, MasterCard and American Express.</p>
                </div>
            </div>
        </div>
    </section>

    <section class"call_to_action" style="min-height:400px;display: block;width: 100%;text-align: center;background: image-url('/assets/main_logo3.jpg') no-repeat center center scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;background-position:0% 30%;color:white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" style="padding-top:11em;">
                    <a href="#info_link"><button type="button" class="btn btn-lg btn-success">JOIN NOW</button></a>
                    <a name="coffees"></a>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->

    </section>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../../assets/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../assets/bootstrap.min.js"></script>
