<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <h2 style="font-size:2em; font-weight:bold;">Contact us</h2>
              <p style="font-size:1.3em; font-weight:300; text-align:justify;">We are located in the heart of Paris. Art, fashion, taste, wine, now even football. Everything is perfect, except for the coffee. Get ready for La Revolucion de Cafe.</p>
              <p style="font-size:3em;">  <i class="fa fa-facebook-official"></i>    <i class="fa fa-twitter-square"></i>    <i class="fa fa-envelope"></i></p>
          </div>
          <div class="col-lg-8" style="padding-left:11em;padding-top:1em;">
            <img src="../../assets/map.jpg">
          </div>
      </div>
  </div>
</footer>